@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700&display=swap");
.c-text-1 {
  color: var(--text-1);
}

.c-text-2 {
  color: var(--text-2);
}

.c-main-purple {
  color: var(--main-purple);
}

.bg-main-purple {
  background-color: var(--main-purple);
}

.bg-main-purple-hover {
  background-color: var(--main-purple-hover);
}

.bg-main-bg-1 {
  background-color: var(--main-bg-1);
}

.bg-main-bg-2, .container {
  background-color: var(--main-bg-2);
}

.bg-main-bg-3 {
  background-color: var(--main-bg-3);
}

.disabled {
  opacity: 0.25;
  pointer-events: none;
}

.heading-XL {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.heading-L {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
}

.heading-M, .button.btn-large, .button {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 19px;
}

.heading-S {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 2.4px;
}

.body-L {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 23px;
}

.body-M {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
}

.button {
  text-align: center;
  border-radius: 20px;
  border: none;
  outline: none;
  padding: 10px 20px;
}
.button.btn-large {
  border-radius: 24px;
}
.button:hover {
  cursor: pointer;
}

.btn-primary {
  background: var(--main-purple);
  color: white;
}
.btn-primary:hover {
  background: var(--main-purple-hover);
}

.btn-secondary {
  background: rgba(99, 95, 199, 0.1);
  color: var(--main-purple);
}
.btn-secondary:hover {
  background: rgba(99, 95, 199, 0.25);
}

.btn-destroy {
  background: var(--red);
  color: white;
}
.btn-destroy:hover {
  background: var(--red-hover);
}

:root {
  --main-purple: #635FC7;
  --main-purple-hover: #A8A4FF;
  --red: #EA5555;
  --red-hover: #FF9898;
  --main-bg-1: #FFFFFF;
  --main-bg-2: #F4F7FD;
  --main-bg-3: #E9EFFA;
  --lines: #E4EBFA;
  --text-1: #000112;
  --text-2: #828FA3;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
html,
body,
body > div:first-child,
div#__next,
div#__next > div {
  height: 100%;
  max-height: 100%;
  width: 100%;
  max-width: 100%;
}

.container {
  display: flex;
  flex-direction: row;
  height: 100%;
  max-height: 100%;
  width: 100%;
  max-width: inherit;
}

.main {
  flex-grow: 1;
  height: 100%;
  min-width: 0;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}/*# sourceMappingURL=globals.css.map */