@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700&display=swap");
.c-text-1, .subtask > p, .title {
  color: var(--text-1);
}

.c-text-2, .statusSection > p, .subtask.complete > p, .completed, .description {
  color: var(--text-2);
}

.c-main-purple {
  color: var(--main-purple);
}

.bg-main-purple {
  background-color: var(--main-purple);
}

.bg-main-purple-hover {
  background-color: var(--main-purple-hover);
}

.bg-main-bg-1, .modalTaskDetails {
  background-color: var(--main-bg-1);
}

.bg-main-bg-2, .subtask {
  background-color: var(--main-bg-2);
}

.bg-main-bg-3 {
  background-color: var(--main-bg-3);
}

.disabled {
  opacity: 0.25;
  pointer-events: none;
}

.heading-XL {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.heading-L, .title {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
}

.heading-M, .button.btn-large, .button {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 19px;
}

.heading-S {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 2.4px;
}

.body-L, .description {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 23px;
}

.body-M, .statusSection > p, .subtask > p, .completed {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
}

.button {
  text-align: center;
  border-radius: 20px;
  border: none;
  outline: none;
  padding: 10px 20px;
}
.button.btn-large {
  border-radius: 24px;
}
.button:hover {
  cursor: pointer;
}

.btn-primary {
  background: var(--main-purple);
  color: white;
}
.btn-primary:hover {
  background: var(--main-purple-hover);
}

.btn-secondary {
  background: rgba(99, 95, 199, 0.1);
  color: var(--main-purple);
}
.btn-secondary:hover {
  background: rgba(99, 95, 199, 0.25);
}

.btn-destroy {
  background: var(--red);
  color: white;
}
.btn-destroy:hover {
  background: var(--red-hover);
}

.modalTaskDetails {
  width: 480px;
  height: 523px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 32px;
}

.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.title {
  width: 80%;
}

.description {
  margin-top: 25px;
}

.completed {
  font-weight: 700;
}

.subtasksSection {
  width: 100%;
  margin-top: 25px;
}

.subtasksList {
  width: 100%;
  padding: 0;
  padding-top: 10px;
  list-style: none;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: flex-start;
  align-items: flex-start;
}

.subtask {
  width: 100%;
  border-radius: 4px;
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.subtask.complete > p {
  text-decoration: line-through;
}
.subtask:hover {
  cursor: pointer;
  background-color: var(--main-purple);
}

.statusSection {
  margin-top: 25px;
  width: 100%;
}
.statusSection > p {
  margin-bottom: 5px;
}/*# sourceMappingURL=ModalTaskDetails.module.css.map */