@import './utilities.scss';

.showSidebarButton {
    position: fixed;
    bottom: 20px;
    width: 56px;
    height: 48px;
    border-radius: 0px 100px 100px 0px;
    border: none;
    outline: none;
    @extend .bg-main-purple;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.25s ease;
    transform: translateX(0px);
    transition-delay: 0.25s;

    // &.hidden {
    //     transform: translateX(-56px);
    // }

    &.hidden {
        transform: translateX(-56px);
        transition-delay: 0s;
    }

    &:hover {
        @extend .bg-main-purple-hover;
        cursor: pointer;
    }
}