@import './utilities.scss';
.taskColumnsList {
    width: auto;
    flex-grow: 1;
    height: 100%;
    // max-width: inherit;
    overflow-x: scroll;
    overflow-y: hidden;
    max-height: inherit;
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.newTaskColumnPanel {
    @extend .c-medium-grey;
    @extend .heading-XL;
    width: 280px;
    max-height: 100%;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E9EFFA;
    border-radius: 6px;
    &:hover {
        cursor: pointer; 
        background-color: #e1e9f8;
    }
}