@import './utilities.scss';
.taskColumnsList {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    width: auto;
    flex-grow: 1;
    height: 100%;
    overflow-x: scroll;
    max-height: inherit;
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.newTaskColumnPanel {
    @extend .c-text-2;
    @extend .bg-main-bg-3;
    @extend .heading-XL;
    width: 280px;
    max-height: 100%;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    border: 2px var(--text-2) dashed;
    &:hover {
        cursor: pointer; 
        @extend .c-main-purple;
        border-color: var(--main-purple);
    }
}