@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700&display=swap');

.c-medium-grey {
    color: var(--medium-grey);
}

.c-main-purple {
    color: var(--main-purple);
}

.bg-main-purple {
    background-color: var(--main-purple);
}

.bg-main-purple-hover {
    background-color: var(--main-purple-hover);
}

.bg-light-grey {
    background-color: var(--light-grey);
}
.disabled {
    opacity: 0.25;
    pointer-events: none;
}

//typography

.heading-XL {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
}

.heading-L {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
}

.heading-M {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 19px;
}

.heading-S {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 2.4px;
}

.body-L {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 23px;
}

.body-M {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
}

//buttons

.button {
    @extend .heading-M;
    text-align: center;
    border-radius: 20px;
    border: none;
    outline: none;
    padding: 10px 20px;
    &.btn-large {
        @extend .heading-M;
        border-radius: 24px;
    }
    &:hover {
        cursor: pointer;
    }
}

.btn-primary {
    background: var(--main-purple);
    color: white;
    &:hover {
        background: var(--main-purple-hover);
    }
}

.btn-secondary {
    background: rgba(99, 95, 199, 0.1);
    color: var(--main-purple);
    &:hover {
        background: rgba(99, 95, 199, 0.25);
    }
}

.btn-destroy {
    background: var(--red);
    color: white;
    &:hover {
        background: var(--red-hover);
    }
}
